{{> header}}
<div class="clearfix"></div>
<div style="margin:10px auto;width:500px;">
    <input type="text" id="keyword">
    <input type="button" id="search" onclick="lyContent.search(this)" value="搜索"/>
    <!-- 搜索的文章总数:<span class="itemcount">{{totalCount}}</span> -->
    &nbsp;&nbsp;&nbsp;<a href="/add">添加文章</a>
</div>
<!--内容区域-->
<div class="wrapbox">
    <div class="w700 mauto">
            <div class="itembox" id="contentbox">
                {{> contenttemplate}} 
            </div>
            <div class="loadmore" onclick="lyContent.load()"><span class="text">加载更多</span>【总共<span class="itemcount">{{totalCount}}</span>条】</div>
    </div>
</div>

<script>
    var lyContent = {
        pageNo:1,
        pageSize:3,
        search:function(callback){
            //要搜索的关键词   
            var keyword = $("#keyword").val();
           /* if(!keyword){
                alert("请输入关键词");
                $("#keyword").focus();
                return;
            }*/
            //this是指：lyContent
            this.cmark = true;    
            //清零
            this.pageNo = 0;
            //记得清空
            $("#contentbox").empty();    
            $(".loadmore").show().attr("onclick","lyContent.load()");
            this.load(function(itemcount){
                $(".itemcount").html(itemcount);
            });
        },
       load:function(callback){
            var that = this;
            console.log(that.cmark);
            if(!that.cmark)return;
             //要搜索的关键词   
            var keyword = $("#keyword").val();
            //分页信息
            var cpageNo = that.pageNo *  that.pageSize; 
            var cpageSize = that.pageSize;
            //显示页数
            if(that.pageNo>0)$("#contentbox").append("<div class='showpage'>-"+that.pageNo+"-</div>");
            //防止重复点击
            $(".loadmore").removeAttr("onclick");
            //执行数据请求
            that.cmark = false;
            $.ajax({
                type:"post",
                url:"/search",
                data:{keyword:keyword,pageNo:cpageNo,pageSize:cpageSize},
                success:function(data){
                   
                    if(data){
                       //把数据渲染后的模板页添加到当前页面
                        var dats = $("#contentbox").append(data);
                        if(keyword){ //搜索关键字高亮
                           keyLight("contentbox", keyword,"#da9999");    
                        } 
                        var itemcount = $("#contentbox").children().eq(0).data("itemcount");
                        //拿到当前加载的条数
                        var len = $("#contentbox").children().length;
                        if(len==0){
                            that.cmark = false;
                            $(".loadmore").removeAttr("onclick").hide();
                            $(".itemcount").html(0);
                            $("#contentbox").html("<h1 style='text-align:center;'>【"+keyword+"】的数据跑到火星去了!!!!@_@</h1>");
                        }

                        if(len < that.pageSize){
                            that.cmark = false;
                            $(".loadmore").hide();
                        }

                        if(cpageNo>=itemcount){
                             that.cmark = false;
                            $(".loadmore").removeAttr("onclick").find("span.text").html("数据加载完毕").end().fadeOut("slow");
                        }else{
                            that.cmark = true;
                        }

                        //加载完毕以后，重新绑定事件   
                        $(".loadmore").attr("onclick","lyContent.load()");
                        if(callback)callback(itemcount);
                        that.pageNo++;
                    } 
                }
            })
        },
        del:function(){
            var opid = $("#del").data("opid");
            $.ajax({
                type:"post",
                url:"/del",
                data:{opid:opid},
                success:function(data){
                    if(data=="success"){
                        if($(".itemcount")){
                           var count = parseInt($(".itemcount").text());
                            --count;
                            $(".itemcount").html(count); 
                        }
                        if(confirm("确定删除吗?")){
                            $("#"+opid).fadeOut(1000,function(){
                               // $(".itemcount").html=count;
                                $("#"+opid).remove();
                            });
                            
                        }
                    }
                }
            });
        },

        cmark:true,
        init:function(){
            var  that  = this;
            window.onscroll = function(){
                if(that.cmark){
                    var cheight = window.innerHeight;
                    var stop = document.body.scrollTop || document.documentElement.scrollTop;
                    var dheight = document.body.clientHeight;
                    if(cheight + stop + 3 >=dheight){
                            lyContent.load();
                    }
                }
            } ; 
        }

    };

    lyContent.init();

/*var key1 = keyLight('contentbox', 'sou')
var key2 = keyLight('contentbox', '一', 'red')
//搜索的关键字高亮   
*/        
function keyLight(id, key, bgColor){
    var oDiv = document.getElementById(id);
    var oChilds  = oDiv.childNodes;
    var bgColor = bgColor || "orange";
    var sKey = "<span style='background-color: "+bgColor+";'>"+key+"</span>";
    var rStr = new RegExp(key, "g");
    for(var i =0; i<oChilds.length-1; i++){
        if(oChilds[i].nodeType == 3 && /\s/.test(oChilds[i].nodeValue)){  //删除空白的节点
            oChilds[i].parentNode.removeChild(oChilds[i]);
        }
        oChilds[i].innerHTML = oChilds[i].innerHTML.replace(rStr,sKey);  //替换key

    }
}

</script>

<!--end 内容区域-->
<!--底部-->
{{> footer}}
