<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tom.dao.IUserDao">
  <select id="selectAllUserInfo" resultType="com.tom.bean.User">
    select name, create_time as createTime from ly_user;
  </select>
</mapper>