<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/js/upload/jquery.fileupload.css">
    
    <script src="/js/jquery-1.11.2.min.js"></script>
    <script src="/js/upload/jquery.ui.widget.js"></script>
    <script src="/js/upload/jquery.iframe-transport.js"></script>
    <script src="/js/upload/jquery.fileupload.js"></script>  
    <script src="/js/upload/jquery.iframe-transport.js"></script>
    <script src="/js/upload/jquery.fileupload-process.js"></script>
    <script src="/js/upload/jquery.fileupload-validate.js"></script>

    <style>
        body{font-family: "Helvetica Neue",Helvetica,Arial,sans-serif}
        .btn-success {
            color: #fff;
            background-color: #5cb85c;
            border-color: #4cae4c;
        }

        .btn {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
        }
    </style>
</head>
<body>
    
    <input type="text" id="username"/>       
    <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus">+</i>
        <span>Select files...</span>
        <input id="fileupload"  type="file" multiple  name="files[]" >
    </span>
    <input type="button"  value="上传" id="uplodbtn"/>
 

    <br>
    <br>
    <!-- The global progress bar -->
    <div id="progress" class="progress">
        <div class="progress-bar progress-bar-success"></div>
    </div>
    <!-- The container for the uploaded files -->
    <div id="files" class="files"></div>
    <div id="warning_file"></div>

    <script>
        $(function(){
             //1:上传过程中可能会进行参数的传递
             //2:手动提交上传，如何解决
             //3:关于错误提示
             //4:其他回调函数的应用和理解
             /*$('#fileupload').fileupload({
                url: '/upload',
                autoUpload: false,
                singleFileUploads: false, //一次上传多个文件
                limitMultiFileUploads: 3, //每个请求最多上传3个文件

                formData:function(){
                    var username = $("#username").val();
                    return {tname:username,age:30};
                }, 


                add: function (e, data) {

                    if (e.isDefaultPrevented()) {
                        return false;
                    };
                   
                    var flag =  $(this).fileupload('option', 'autoUpload');
                    if(!flag){
                        $("#uplodbtn").on("click",function(){
                           $(this).prop("disabled",true).val("disabled");
                            data.process().done(function () {
                                data.submit();//submit提交上传的业务
                            });
                        });
                    }
                } , 

                submit:function(e, data){//触发submit进行回调函数
                    data.files.forEach(function(file,index){
                        console.log("正在上传===>"+file.name+"==="+file.size+"==="+file.type);
                    }); 
                },

                send:function(e,data){
                    console.log("服务器开始接受上传了....");    
                },

                fail:function(e,data,message){
                    alert("上传失败..."+message);    
                },

                done: function (e, data) {//上传完毕执行的回调函数
                    var json = JSON.parse(data.result);    
                    $.each(json.files, function (index, file) {
                       if(!file.error){
                         $('<p/>').html("<img src='"+file.url+"' width='120' height='120'/>"+file.name).appendTo('#files');
                       }else{
                           data.fail(e,data,file.error);
                       }
                    });
                    $("#uplodbtn").prop("disabled",false).val("提交");
                },

                progressall: function (e, data) {//进度条显示
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .progress-bar').css(
                        'width',
                        progress + '%'
                    ).html(progress + '%');
                }
                
            });*/

            var upload = $('#fileupload');
            upload.fileupload({
                url: '/upload',
                autoUpload: false,
                singleFileUploads: false, //一次上传多个文件
                limitMultiFileUploads: 3, //每个请求最多上传3个文件 
                maxFileSize:1024,
                maxNumberofFiles:3, 
                formData:function(){
                    var username = $("#username").val();
                    return {tname:username,age:30};
                },
                messages:{
                    maxFileSize:'超过允许的文件上传最大值!',
                    maxNumberofFiles:'上传文件数量超过允许的最大值!'
                },
                processfail:function(e,data){
                    //单个文件上传失败
                    self.datafile='';
                    console.log(date+"进入processfail");
                    //$("#fileupload").fileupload('destroy');
                    var currentFile = data.files[data.index];
                    if(dat.files.error && currentFile.error){
                        if(currentFile.error=="上传文件数量超过允许的最大值!"){
                            $("#warning_file").css('display','block').html('').prepend(currentFile.error+"<br/>");
                        }else{
                            $("#warning_file").css('display','block').html('').prepend(currentFile.name+"<br/>");
                        }
                    }
                },
                change:function(){
                    $("#warning_file").css('display','none').html('');
                    $("#fileupload_file_name").css('display','none').html('');
                },
                start:function(){
                    //开始上传后就不能在选择文件了
                    $("#fileupload").attr('disabled','disabled');
                },
                process:function(e,data){
                    
                },
                processdone:function(e,data){
                    self.datafile = date;
                    console.log('单个文件处理成功结束:'+data);
                },
                processtart:function(e,data){
                    console.log('上传队列开始');
                },
                send:function(e,data){
                    console.log('每个文件上传的时候');
                },
                sent:function(e,data){
                    console.log('sent');
                },
                started:function(e,data){
                    console.log('开始回调运行后触发');
                },
                stopped:function(e,data){
                    console.log("stopped函数运行,所有的回调完成后触发");
                },
                always:function(e,data){
                    console.log('always',data);//回调结束(成功,中止,错误)
                    data.completed();
                },
                add:function(e,data){
                    console.log('add');
                    data.submit();
                },
                prcessalways:function(e,data){
                    console.log('无论是上传成功 或 失败都终止');
                },
                chunkalways:function(e,data){
                    console.log('结束一个文件上传队列');
                },
                processstop:function(e,data){
                    console.log('文件上传队列停止');
                },
                completed:function(){
                    console.log('completed');
                    $("#fileupload").removeAttr('disabled');
                },
                progresssall:function(e,data){
                    console.log('回调全局上传进度事件');
                    var progress = parseInt(data.loaded/data.total*100,10);
                    console.log("progress==="+progress);
                    $("#progress").css('width',progress+"%");
                    $("#progress").html(progress+"%");
                }
            });

            upload.on("fileuploadadd",function(e,data){
                 if (e.isDefaultPrevented()) {
                    return false;
                };
                
                var flag =  $(this).fileupload('option', 'autoUpload');
                if(!flag){
                    $("#uplodbtn").on("click",function(){
                        $(this).prop("disabled",true).val("disabled");
                        data.process().done(function () {
                            data.submit();//submit提交上传的业务
                        });
                    });
                }   
            });

            upload.bind("fileuploadadd",function(e,data){
                //data.formData = {li:'li'};
                for (var i=0;i<data.files.length;i++) {
                    $("#fileupload_file_name").prepend(data.files[i].name+"<br/>");
                }
            }).bind("fileuploadprocessdone",function(e,data){
                console.log('wode',data);
                console.log(data.files[0].error);
                console.log("fileuploadprocessdone");
            }).bind("fileuploadprocesstart",function(e,data){
                console.log(data.files[0].error);
                console.log("fileuploadprocesstart");
            });




            upload.on("fileuploadsubmit",function(e,data){
                data.files.forEach(function(file,index){
                    console.log("正在上传===>文件名:"+file.name+"===文件大小:"+file.size+"===文件类型:"+file.type);
                }); 
            });

            upload.on("fileuploaddone",function(e,data){
                var json = JSON.parse(data.result);    
                $.each(json.files, function (index, file) {
                    if(!file.error){
                        $('<p/>').html("<img src='"+file.url+"' width='120' height='120'/>"+file.name).appendTo('#files');
                    }else{
                        data.fail(e,data,file.error);
                    }
                });
                $("#uplodbtn").prop("disabled",false).val("提交");
            });

            upload.on("fileuploaddone",function(e,data){
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .progress-bar').css(
                    'width',
                    progress + '%'
                ).html(progress + '%');
            });

            upload.on('fileuploadchange' ,function(e,data){
                console.log("上传文件发生了变化...");
            });


        });
    </script>

</body>
</html>