<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>个人博客</title>
<link rel="stylesheet" type="text/css" href="/css/common.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<script src="/js/jquery-1.11.2.min.js"></script>
<script src="/js/handlebars-v4.0.5.js"></script>
<script src="/js/ly_admin.js"></script>
<script src="/js/util.js"></script>
<script src="/js/utils.js"></script>
<script src="/js/anime.min.js"></script>
</head>
<body>
  <canvas class="fireworks" width="1104" height="1898" style="position: fixed;width: 100%; height: 100%;z-index: -1;"></canvas>
  {{{body}}}
  
  <script src="/js/fireworks.js"></script>
  <script src="/js/headerevent.js"></script>
</body>
</html>