.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background: burlywood;
  display: flex;
  justify-content: space-between;
}

.iconfont {
  width: 32px;
  height: 30px;
  font-size: 22px;
  padding: 3px 6px;
  vertical-align: middle;
}
.iconfont:hover {
  color: brown;
}

.timer {
  display: inline-block;
  margin: 0 6px;
}
