{
  "presets": [
    "@babel/env",
    "@babel/react",
    "react-app"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "react-hot-loader/babel"
  ]
}