{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            ">0.25%",
            "last 2 versions",
            "not ie 11",
            "not op_mini all"
          ],
          "node": "current",
          "chrome": 52
        }
      }
    ]
  ]
  // 暂时没有使用，把ES6 > ES5
  // "plugins": ["@babel/transform-runtime"]
}
