{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "semi": [2],
    "no-console": [0],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-tag-spacing": [0],
    "import/extensions": 0,
    "space-before-function-paren": 0,
    "react/jsx-wrap-multilines": 0,
    "react/jsx-closing-tag-location": 0,
    "comma-dangle": 0
  }
}