<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/login.css">
    <title>{{ title }}</title>
  </head>

  <body>
    <div class="login">
      <h2>{{ title }}</h2>
      <div class="logininfo">
        <label for="username">
          <span>姓名:</span>
          <input id="username" class="inputStyle" placeholder="请输入姓名..."/>
        </label>
        <label for="password">
          <span>密码:</span>
          <input id="password" class="inputStyle" placeholder="请输入密码..."/>
        </label>
      </div>
      <div class="loginbtn">
        <div class="btn">
          <span>重置</span>
          <span id="loginBtn">登录</span>
        </div>
      </div>
    </div>
  <script src="/js/jquery-1.11.2.min.js"></script>
  <script src="/js/login.js"></script>
  </body>
</html>
