.pullquote{width:45%;}
.pullquote.left{float:left;margin-left:5px;margin-right:10px;}
.pullquote.right{float:right;margin-left:10px;margin-right:5px;}
.highlight table,.gist table{width:auto;}
.highlight table td,.gist table td{border:none;}
.highlight a,.gist a{color:#222 !important;text-decoration:none !important;}
.video-container{position:relative;padding-top:60%;height:0;overflow:hidden;}
.video-container iframe,.video-container object,.video-container embed{position:absolute;top:0;left:0;width:100%;height:100%;}
table{margin:20px 0;width:100%;border-collapse:collapse;border-spacing:0;border:1px solid #ddd;font-size:14px;}
table>tbody>tr:nth-of-type(odd){background-color:#f9f9f9;}
table>tbody>tr:hover{background-color:#f5f5f5;}
caption,th,td{padding:8px;text-align:left;vertical-align:middle;font-weight:normal;}
th,td{border-bottom:3px solid #ddd;border-right:1px solid #eee;}
th{padding-bottom:10px;font-weight:700;}
td{border-bottom-width:1px;}
.text-left{text-align:left;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.text-justify{text-align:justify;}
.text-nowrap{white-space:nowrap;}
.text-lowercase{text-transform:lowercase;}
.text-uppercase{text-transform:uppercase;}
.text-capitalize{text-transform:capitalize;}
.center-block{display:block;margin-left:auto;margin-right:auto;}
.clearfix:before,.clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both;}
.full-image.full-image.full-image{border:none;max-width:100%;width:auto;margin:0;}
@media (min-width:992px){.full-image.full-image.full-image{max-width:none;width:126%;margin:0 -13%;}
}
.use-motion .motion-element{opacity:0;}
pre,.highlight{background:#f7f7f7;margin:20px 0;padding:15px;overflow:auto;font-size:13px;color:#4d4d4c;line-height:1.6;}
.highlight .gutter pre,.gist .gist-file .gist-data .line-numbers{color:#666;}
pre,code{font-family:"Input Mono","PT Mono",Consolas,Monaco,Menlo,monospace;}
code{word-break:break-all;background:#eee;text-shadow:0 1px #fff;padding:0 0.3em;}
pre code{background:none;text-shadow:none;padding:0;}
.highlight pre{border:none;margin:0;padding:1px;}
.highlight table{margin:0;width:auto;border:none;}
.highlight td{border:none;padding:0;}
.highlight figcaption{font-size:0.85em;color:#8e908c;line-height:1em;margin-bottom:1em;}
.highlight figcaption:before,.highlight figcaption:after{content:" ";display:table;}
.highlight figcaption:after{clear:both;}
.highlight figcaption a{float:right;}
.highlight .gutter pre{text-align:right;padding-right:20px;}
.highlight .line{height:20px;}
.gist{margin:20px 0;border-style:solid;border-color:#ccc;border-width:1px 0;background:#f7f7f7;padding:15px 40px 15px 15px;}
.gist .gist-file{border:none;font-family:"Input Mono","PT Mono",Consolas,Monaco,Menlo,monospace;margin:0;}
.gist .gist-file .gist-data{background:none;border:none;}
.gist .gist-file .gist-data .line-numbers{background:none;border:none;padding:0 20px 0 0;}
.gist .gist-file .gist-data .line-data{padding:0 !important;}
.gist .gist-file .highlight{margin:0;padding:0;border:none;}
.gist .gist-file .gist-meta{background:#f7f7f7;color:#8e908c;font:13px Lato,"PingFang SC","Microsoft YaHei",sans-serif;text-shadow:0 0;padding:0;margin-top:1em;margin-left:40px;}
.gist .gist-file .gist-meta a{color:color-link;font-weight:normal;}
.gist .gist-file .gist-meta a:hover{text-decoration:underline;}
pre .comment{color:#8e908c;}
pre .variable,pre .attribute,pre .tag,pre .regexp,pre .ruby .constant,pre .xml .tag .title,pre .xml .pi,pre .xml .doctype,pre .html .doctype,pre .css .id,pre .css .class,pre .css .pseudo{color:#c82829;}
pre .number,pre .preprocessor,pre .built_in,pre .literal,pre .params,pre .constant{color:#f5871f;}
pre .ruby .class .title,pre .css .rules .attribute{color:#718c00;}
pre .string,pre .value,pre .inheritance,pre .header,pre .ruby .symbol,pre .xml .cdata{color:#718c00;}
pre .title,pre .css .hexcolor{color:#3e999f;}
pre .function,pre .python .decorator,pre .python .title,pre .ruby .function .title,pre .ruby .title .keyword,pre .perl .sub,pre .javascript .title,pre .coffeescript .title{color:#4271ae;}
pre .keyword,pre .javascript .function{color:#8959a8;}
html,body{height:100%;}
.container{position:relative;min-height:100%;}
.header-inner{margin:0 auto;padding:100px 0 70px;width:1200px;}
.one-column .header-inner{width:700px;}
