/*height:100%一定父子关系的情况下才有意思， 
一定父元素身上设定了具体的像素单位值才能生效 div = 100px div height = 100% height = 100% * 130 = 100px;*/
/*页面级别通用代码*/
.w700 {
  width: 700px;
  height: 100%;
}
.w720 {
  width: 720px;
  margin: 0 auto;
}
.w500 {
  width: 500px;
  height: 100%;
}
.mauto {
  margin-right: auto;
  margin-left: auto;
}
/*头部 css*/
.header {
  background: #f5f5f5;
  height: 100px;
}
.logobox {
  width: 240px;
  line-height: 100px;
}
.logobox a {
  font-size: 18px;
  font-weight: bolder;
  font-family: Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
}
.logobox a:first-letter {
  color: #333;
  font-size: 28px;
}
.navlist {
  width: 460px;
  text-align: right;
}
.navlist li {
  display: inline-block;
  line-height: 100px;
  width: 60px;
  text-align: center;
  cursor: pointer;
}
.navlist li:hover {
  color: coral;
}
.active {
  color: coral;
}
/*内容 css*/
.wrapbox {
  width: 100%;
  height: 100%;
}
.wrapbox::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  color: transparent;
  background: transparent;
}
.itembox .item {
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid transparent;
}
.itembox .item h3 {
  font-size: 26px;
  position: relative;
  display: inline-block;
}
.itembox .item h2 {
  font-size: 22px;
  font-weight: bold;
  color: #555;
}
.itembox .item .post-body p {
  margin: 10px 0 36px;
  text-align: justify;
  line-height: 26px;
}
.itembox .item .btn {
  border-bottom: 2px solid #555;
  padding-bottom: 5px;
}
.itembox .item .btn:hover {
  border-bottom: 2px solid lightseagreen;
}
.itembox .item h3 a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
.itembox .item h3 a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.itembox .item:hover {
  box-shadow: 0 0 15px #333;
  border-right: 4px;
}
.mark {
  float: left;
  margin-left: 2%;
  border: 1px solid red;
  height: 300px;
  width: 570px;
}

/*底部 css*/
.footer {
  background: #fff;
  height: 100px;
  line-height: 100px;
}
.copyright {
  display: inline-block;
}

/*加载*/
.showpage,
.loadmore {
  height: 45px;
  background: #eee;
  text-align: center;
  line-height: 45px;
  color: #333;
  cursor: pointer;
  margin: 45px auto;
  transition: 0.6s;
}
.loadmore:hover {
  background: #333;
  color: #fff;
}

/*回到顶部*/
#to_top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  height: 30px;
  width: 50px;
  text-align: center;
  padding-top: 20px;
  background-color: lightblue;
  border-radius: 20%;
  overflow: hidden;
  display: none;
}
.top:hover:before {
  top: 50%;
}
.top:hover .top-in {
  visibility: hidden;
}
.top:before {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "回到顶部";
  width: 40px;
  color: peru;
  font-weight: bold;
}
.top-in {
  visibility: visible;
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 3px solid black;
  border-color: white transparent transparent white;
  transform: rotate(45deg);
}
/*修正样式*/
/* .mautomodi {
  margin-left: 2%;
  float: left;
} */
